<html>
    <head>
        {% if title %}
        <title>{{ title }} - microblog</title>
        {% else %}
        <title>microblog</title>
        {% endif %}
        <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css" type="text/css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
        <script type="text/javascript">
            Bokeh.set_log_level("info");
        </script> 

    </head>
    <body>
        <div>
            Comon
            <a href="/index">Facebook</a>
            <a href="/activity">Linkedin</a>
            <a href="/graphs">About</a>
        </div>
        <hr>
        {% block content %}{% endblock %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </body>
</html>